@media print {
	.noPrint {
		display: none;
	}
}

.btn-print {
	background-color: #8ab4f8;
	align-items: center;
	border: 1px solid var(--border-color);
	border-radius: 4px;
	box-sizing: border-box;
	color: var(--text-color);
	cursor: pointer;
	display: inline-flex;
	flex-shrink: 0;
	font-weight: 500;
	height: var(--cr-button-height);
	justify-content: center;
	min-width: 5.14em;
	outline-width: 0;
	overflow: hidden;
	padding: 8px 16px;
	position: relative;
	user-select: none;
}

.center {
	text-align: center;
}

table {
	border-collapse: collapse;
}

table thead {
	border-bottom: 15px solid black;
	border-top: 15px solid black;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}
